<% provide(:title, @user.name) %>

<% if @user.proposals.empty? %>
  <%= link_to 'New proposal', new_proposal_path, class: "btn btn-primary" %>
<% else %>
  <div class="d-flex align-items-center">
    <h1 class="flex-fill">Your Proposals</h1>
    <%= create_proposal_button %>
  </div>
  <ul class="list-group">
    <%= render partial: 'users/proposal', collection: @user.proposals %>
  </ul>
<% end %>

<h1>Your profiles</h1>

<div class="card border-success mb-3">
  <div class="card-header">
    Public profile
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <%= @user.public_name %>
    </h5>
    <%= robohash_for @user, size: 50 %>
  </div>
</div>

<div class="card border-danger mb-3">
  <div class="card-header">
    Internal profile (only you can see this)
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <%= name_email_for @user %>
    </h5>
    <%= gravatar_for @user, size: 50 %>
  </div>
</div>
