<% provide(:title, 'Selection') %>

You can add up to 8 talks to your selection.

<h1>Your selection</h1>
<ul class="list-group">
  <% @selections.each do |selection| %>
    <a href="<%= proposal_path(selection.proposal_id) %>" class="list-group-item list-group-item-action">
      <%= selection.proposal.title %>
    </a>
  <% end %>
</ul>

<h1>Proposals</h1>
<ul class="list-group">
  <% @proposals.each do |proposal| %>
    <%= form_with url: user_selections_path(current_user) do %>
      <%= hidden_field_tag :proposal_id, proposal.id %>
      <%= submit_tag proposal.title, class: 'list-group-item list-group-item-action' %>
    <% end %>
  <% end %>
</ul>
