<%= form_with model: @proposal, local: true do |form| %>

  <% if @proposal.errors.any? %>
    <div id="error">
      <h2>
        <%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:
      </h2>
      <ul>
        <% @proposal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
