<% provide(:title, 'Proposals') %>
<% content_for :head do %>
  <%= auto_discovery_link_tag :rss, proposals_feed_url(:format => :rss) %>
<% end %>

<div class="d-flex align-items-center">
  <h1 class="flex-fill">Proposals</h1>
  <%= create_proposal_button %>
</div>

<div class="list-group">
  <% @proposals.each do |proposal| %>
    <a href="<%= proposal_path(proposal) %>" class="d-flex align-items-center list-group-item list-group-item-action">
      <div>
        <%= proposal.title %>
      </div>
      <small class="ml-auto">
        <%= time_ago_in_words(proposal.updated_at) %> ago
      </small>
    </a>
  <% end %>
</div>
