<% provide(:title, "#{@proposal.title}") %>

<div class="row">
  <div class="col-sm-9">
    <h1>
      <%= @proposal.title %>
    </h1>

    <%= markdown(@proposal.description) %>
  </div>
  <div class="col-sm-3">
    <% if @proposal.live %>
      <h2>Comments</h2>
      <%= render @proposal.comments %>

      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_proposal_path(@proposal) %>
<%= link_to 'Back', proposals_path %>
