<% provide(:title, "#{@proposal.title}") %>

<% if @proposal.user.blocked %>
  <div class="alert alert-danger">
    This proposal has been removed by a moderator
  </div>
<% else %>
  <% if @proposal.user == current_user %>
    <div class="alert alert-secondary d-flex flex-row align-items-center">
      <div>
        You are the author of this proposal
      </div>
      <div class="ml-auto">
        <%= edit_proposal_button %>
        <%= publish_or_withdraw_proposal_button %>
      </div>
    </div>
  <% end %>

  <% if @proposal.withdrawn? %>
    <div class="alert alert-info" role="alert">
      This proposal has been withdrawn
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <h1>
        <%= @proposal.title %>

        <% if @proposal.user == current_user %>
        <% end %>
      </h1>

      <%= markdown(@proposal.description) %>
    </div>
    <div class="col-sm-4">
      <% if show_comments?(@proposal) %>
        <h2>Comments</h2>
        <%= render partial: 'comments/comment', collection: @proposal.comments, locals: {author: @proposal.user} %>

        <% if logged_in? %>
          <% if can?(:create, :comment) %>
            <%= render 'comments/form' %>
          <% end %>
        <% else %>
          <%= link_to 'Log in to comment', '/auth/github', method: :post, class: 'btn btn-lg btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

