<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield(:head) %>
</head>

<body>

<%= render 'layouts/header' %>

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>

  <div class="pt-4">
    <%= render 'layouts/footer' %>
  </div>

  <% if Rails.env.development? %>
    <div class="alert alert-info" role="alert">
      <pre><code><%= debug(params) %></code></pre>
    </div>
  <% end %>
</div>

</body>
</html>
